<!DOCTYPE HTML>

<html>

<head>

    <title> DHIRAJ KAFLE </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/main.css" />

    <link rel="icon" href="../../images/avatar.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../images/avatar.png" type="image/x-icon">

    <noscript>
        <link rel="stylesheet" href="../../assets/css/noscript.css" />
    </noscript>


    <style>
        pre {
            background-color: #f4f4f4;
            /* padding: 5px; */
            overflow: auto;

        }

        code {
            font-family: "SFMono-Regular", "Menlo", "Consolas", "PT Mono", "Liberation Mono", Courier, monospace;
            /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
            /* font-family: Arial, Helvetica, sans-serif; */
            font-weight: 600;
            font-size: small;
            display: block;
            /* padding: 5px; */
            color: #272727;

        }
    </style>

</head>


<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="../../cv/cv.pdf" class="logo" target="_blank"> View CV </a>
        </header>

        <!-- Nav -->
        <nav id="nav">

            <ul class="links">
                <!-- <li><a href="../../index.html"> Projects </a></li> -->
                <li><a href="../.."> Projects </a></li>

                <li><a href="../skills.html"> Skills </a></li>
                <li><a href="../about.html"> About </a></li>
                <li class="active"><a href="." style="pointer-events: none"> Detail </a></li>
            </ul>

            <ul class="icons">
                <li><a href="https://github.com/47dhiraj/analytics_projects/tree/main/pandas/data_exploration_and_data_cleaning"
                        class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>


        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">

                <header class="major">

                    <!-- <span class="date">March 19, 2020</span> -->

                    <h2>
                        Finding & Fixing <br />
                        Missing Values
                    </h2>


                </header>


                <div class="image main"><img src="../../images/projects/features/fixing_missing_values.jpg"
                        alt="Movie Site" /></div>

                <blockquote>
                    <p style="text-align: center;">

                        Fixing missing values means,<b> first finding "NaN / Na / nan / None" value</b>.<br />
                        <b>And,</b> replace those missing values with suitable value.
                    </p>
                </blockquote>


                <p style="text-align: left;">
                    <b> <i>## Several ways to fix missing values while preprocessing the data 🚀 </i></b><br />

                    <b>* Fill missing values with Median or Mean/Average value</b> <br />

                    <b>* Can use Forward fill or Backward fill technique</b><br />

                    <b>* Can use Interpolate method</b><br />

                    <b>* Remove rows, if there is less no. of rows with missing values. </b><br />

                    <b>* Remove column, if that column with missing values won't be requied in analysing the data. </b>
                    </br>

                    <b>* Fill missing values with a constant value </b> <br />

                </p>


                <p style="text-align: left;">
                    <b> <i>## Some panda's methods to find/view missing values (NaN, None) 🚀 </i></b><br />

                    <b>* .isna().sum()</b> <br />

                    <b>* .isnull().sum()</b><br />

                    <b>* .unique() => It doesn't work as desired, for the numeric column.</b><br />

                    <b>* .value_counts()</b><br />

                </p>


                <p style="text-align: left;">
                    <b> <i>## Some panda's methods to fix missing values 🚀 </i></b><br />

                    <b>* .fillna()</b> <br />
                    <b>Examples:</b><br />
                    .fillna('1', inplace=True) # Fill all Nan values with 1<br /><br />

                    <b>* .dropna()</b> <br />
                    <b> Examples:</b><br />
                    df.dropna()         # Drops rows containing NaN values<br />
                    df.dropna(axis=1)   # Drops columns containing NaN values<br /><br />

                    <b>* .replace()</b> <br />
                    <b> Examples:</b><br />
                    df.replace(np.nan, 0)  # Replace NaN with 0<br />

                </p>

            </section>

        </div>


        <!-- Footer -->
        <footer id="footer">

            <section class="split contact">

                <section class="alt">
                    <h3 style="color: #53595f;">Address</h3>
                    <p style="color: #4b4847;">Maitidevi<br />
                        Kathmandu, Nepal</p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Phone</h3>
                    <p><a href="#" style="color: #4b4847;"> +977 9847122181 </a></p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Email</h3>
                    <p><a href="#" style="color: #4b4847;">dhirajkafle553@gmail.com</a></p>
                </section>

                <section>
                    <h3 style="color: #53595f;">Social</h3>

                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    </ul>

                </section>

            </section>


            <section>

                <form method="post" action="#">

                    <div class="fields">
                        <div class="field">
                            <label for="name" style="color: #53595f;">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email" style="color: #53595f;">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message" style="color: #53595f;">Message</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" disabled /></li>
                    </ul>

                </form>

            </section>


        </footer>


        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; 2023 - DhirajTheAnalyst</li>
                <!-- <li>Designer: <a href="#"></a></li> -->
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/jquery.scrollex.min.js"></script>
    <script src="../../assets/js/jquery.scrolly.min.js"></script>
    <script src="../../assets/js/browser.min.js"></script>
    <script src="../../assets/js/breakpoints.min.js"></script>
    <script src="../../assets/js/util.js"></script>

    <script src="../../assets/js/main.js"></script>

</body>

</html>