<!DOCTYPE HTML>

<html>

<head>
    <title>Dhiraj The Analyst Porfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />

    <noscript>
        <link rel="stylesheet" href="../assets/css/noscript.css" />
    </noscript>

</head>


<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>Dhiraj<br />
                The Analyst</h1>

            <p>A proficient Data Analyst skilled in Python, R, SQL, Excel & Tableau <a href="#"> @AnalystDhiraj</a>

            </p>

            <ul class="actions">
                <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>

        <!-- Header -->
        <header id="header">
            <a href="../cv/cv.pdf" class="logo" target="_blank"> View CV </a>
        </header>

        <!-- Nav -->
        <nav id="nav">

            <ul class="links">
                <li><a href="../index.html"> Projects </a></li>
                <li><a href="skills.html"> Skills </a></li>
                <li class="active"><a href="." style="pointer-events: none"> About </a></li>
            </ul>

            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/dhiraj-kafle-4a19781a3/" class="icon brands fa-linkedin"><span
                            class="label">Linkedin</span></a></li>
                <li><a href="https://github.com/47dhiraj" class="icon brands fa-github"><span
                            class="label">GitHub</span></a></li>
            </ul>
        </nav>


        <!-- Main -->
        <div id="main">

            <!-- </br> -->

            <!-- Posts -->
            <section class="posts">

                <article style="padding: 1rem; border-color: #cecaca; border-right-width: 3px; background-color: #faf6f6;">

                    <header>
                        <h2> <u> Self-Introduction </u></h2>
                    </header>

                    <div class="about-container">

                        <p style="text-align: justify;">Hi, It's me <b> Dhiraj Kafle </b> from Kathmandu, Nepal &amp; i
                            love to develop Web Apps &amp; Machine Learning Models. I am interested in server side
                            development.<br><br>I am passionate pragmatice developer who loves to explore new logics and
                            science behind it and i do have keen eye for new paradigms, architecture, patterns and
                            principles.<br><br>I love to explore new languages, indulging my time with my pet
                            projects.<br><br>I am always striving to broaden my knowledge and sharpen my skills. I love
                            working in environment with lots of challenges and brilliant people to share those
                            challenges with.
                        </p>

                    </div>


                </article>


                <article style="padding: 1rem; border-left-width: 3px; background-color: #faf6f6;">

                    <header>
                        <h2> <u> Experience </u> </h2>
                    </header>

                    <div class="about-container">

                        <p style="text-align:justify"><b><span style="font-size:2em">. </span> May 2021 to June
                                2022</b><br>-worked as <b>Python</b> Developer in<b> Tech Dock Nepal Pvt. Ltd</b>.</p>

                    </div>

                </article>

            </section>


        </div>

        </br>


        <!-- Footer -->
        <footer id="footer">


            <section>

                <form method="post" action="#">

                    <div class="fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>

                </form>

            </section>


            <section class="split contact">

                <section class="alt">
                    <h3>Address</h3>
                    <p>1234 Somewhere Road #87257<br />
                        Nashville, TN 00000-0000</p>
                </section>

                <section>
                    <h3>Phone</h3>
                    <p><a href="#">(000) 000-0000</a></p>
                </section>

                <section>
                    <h3>Email</h3>
                    <p><a href="#">info@untitled.tld</a></p>
                </section>

                <section>
                    <h3>Social</h3>

                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    </ul>

                </section>

            </section>


        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; 2023 - DhirajTheAnalyst</li>
                <!-- <li>Designer: <a href="#"></a></li> -->
            </ul>
        </div>

    </div>





    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>

    <script src="../assets/js/util.js"></script>

    <script src="../assets/js/main.js"></script>

</body>

</html>