<!DOCTYPE HTML>

<html>

<head>
    <title>Dhiraj The Analyst Porfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/skills.css" />

    <noscript>
        <link rel="stylesheet" href="../assets/css/noscript.css" />
    </noscript>

</head>


<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>Dhiraj<br />
                The Analyst</h1>

            <p>A proficient Data Analyst skilled in Python, R, SQL, Excel & Tableau <a href="#"> @AnalystDhiraj</a>

                <!-- <a href="#">write something
						write something</a><br />
						write something <a href="#">write something</a>. -->

            </p>

            <ul class="actions">
                <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>

        <!-- Header -->
        <header id="header">
            <a href="/" class="logo">DHIRAJ KAFLE</a>
        </header>

        <!-- Nav -->
        <nav id="nav">

            <ul class="links">

                <li class="active"><a href="../index.html"> All Projects</a></li>

                <li><a href="../generic.html"> Details</a></li>

                <li><a href="../elements.html"> Elements</a></li>

            </ul>

            <ul class="icons">
                <li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>

                <!-- <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->

            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            </br>



            <!-- Posts -->
            <section class="posts">

                <article>
                    <header>
                        <h4>Analytics Skills</h3>
                    </header>

                    <a href="#"  target="_blank" without rel="noreferrer" >
                        <img title="Python" src="../images/skills/python.svg" alt="Python"  />
                    </a>

                </article>

                <article>

                    <header>
                        <h4>Web Skills</h3>


                    </header>

                </article>

            </section>


        </div>


        <hr>


        <!-- Footer -->
        <footer id="footer">


            <section>

                <form method="post" action="#">

                    <div class="fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>

                </form>

            </section>


            <section class="split contact">

                <section class="alt">
                    <h3>Address</h3>
                    <p>1234 Somewhere Road #87257<br />
                        Nashville, TN 00000-0000</p>
                </section>

                <section>
                    <h3>Phone</h3>
                    <p><a href="#">(000) 000-0000</a></p>
                </section>

                <section>
                    <h3>Email</h3>
                    <p><a href="#">info@untitled.tld</a></p>
                </section>

                <section>
                    <h3>Social</h3>

                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    </ul>

                </section>

            </section>


        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul>
                <li>&copy; 2023 - DhirajTheAnalyst</li>
                <!-- <li>Designer: <a href="#"></a></li> -->
            </ul>
        </div>

    </div>





    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>

    <script src="../assets/js/util.js"></script>

    <script src="../assets/js/main.js"></script>

</body>

</html>